.auth
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  .auth-form
    display: flex
    flex-direction: column
    width: 240px

    .auth-form__input
      margin-bottom: 8px
    
  .auth__error
    color: red