.app-template
  width: 100vw
  display: flex
  justify-content: space-between

  .app-template__content
    margin-top: var(--header-size)
    margin-left: var(--side-bar-width)
    padding: 40px 30px
    width: -webkit-fill-available

    & > div
      height: 100%

      & > div
        height: 100%
        width: 100%
