.deeplink-button
  .deeplink-button__linkBlock
    display: flex
    align-items: center
    margin: 20px 0
    min-width: 500px

    .deeplink-button__finalLink
      fancy-border()
      width: -webkit-fill-available
      font-size: 16px
      border-top-right-radius: 0
      border-bottom-right-radius: 0
    
    .deeplink-button__copy-button
      font-size: 16px
      height: 16px
      max-width: 100px
      border-radius: 0px 5px 5px 0