.media-preview
  .media-preview__button
    max-width: 172px

  .media-preview__cover
    display: flex
    justify-content: center

    .media-preview__image
      margin-bottom: 20px
      background-size: cover
      background-repeat: no-repeat
      background-position: center
      background-color: #000 !important
      width: 212px
      border-radius: 5px
      cursor: auto
      max-height: 70vh !important
      max-width: 60vh !important
      min-height: 50px !important
      min-width: 50px !important
    
    .media-preview__video
      max-height: 70vh !important
      max-width: 60vh !important
      min-height: 50px !important
      min-width: 50px !important
      background-color: #000 !important
      object-fit: cover

  .media-preview__content
    height: auto
    color: #000
    text-align: left