.ui-notifications
  display: flex
  flex-direction: column
  justify-content: space-between
  position: fixed
  top: 102px
  bottom: 0
  right: 30px
  z-index: 100
  pointer-events: none

  .ui-notifications__wrapper
    overflow: auto
    padding: 20px
    height: calc(100vh - 200px)
    transition: height .5s, padding .5s

    .ui-notification
      display: flex
      flex-direction: column
      padding: 15px 30px
      width: 444px
      height: auto !important
      border-radius: 15px
      background-image: var(--main-gray-gradient)
      box-sizing: border-box
      margin-bottom: 10px
      cursor: pointer
      opacity: 0
      transform: scaleY(0)
      overflow: hidden
      transition: .2s
      min-height: 60px
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.25)
      pointer-events: all

      &:last-child
        margin-bottom: 0

      .ui-notification__title
        font-size: 21px
        font-weight: 500
        color: #ffffff
        line-height: 1.44
      
      .ui-notification__description
        font-size: 15px
        color: #ccc
        white-space: pre-wrap
        line-height: 1.4

      .ui-notification__action
        font-size: 15px
        font-weight: 500
        color: var(--additional-purple)
        line-height: 1
        margin-left: 45px
        cursor: pointer

      &--active
        opacity: 1
        transform: scaleY(1)
        transition: .2s

  .ui-notifications__wrapper--closed
    height: 0
    padding-top: 0
    padding-bottom: 0
    top: auto
    bottom: 0
    transition: height .5s, padding .5s
  
  .ui-notifications__hide
    width: 484px
    border-radius: 15px 15px 0 0
    background-image: var(--main-gray-gradient)
    color: white
    text-align: center
    padding: 12px
    cursor: pointer
    pointer-events: all