.client-page
  .client-page__content
    .list-table
      width: auto
      margin: auto
      
      tbody
        tr
          th
            &:first-child
              text-align: left
              padding-left: 20px